@import "tailwindcss";


:root[data-theme='light'] {
  --background: #f8fafc;
  --foreground: #334155;
  --accent: #e5e7eb;
  --accent-foreground: #475569;
  --border: #cbd5e1;
  --aside-background: #ffffff; /* White background for aside in light mode */
}

html[data-theme='dark'] {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #1f2937;
    --accent-foreground: #e5e7eb;
    --border: #374151;
    --aside-background: #0a0a0a; /* Dark background for aside in dark mode */
  }
html.light body header{
  background-color: white;
}
.form-input-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%; 
}

.form-input-container label {
  margin-right: 10px;
  max-width: 75%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.form-input-container > input {
    margin: 0.1rem;
}

html[data-theme='dark'] {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #1f2937;
    --accent-foreground: #e5e7eb;
    --border: #374151;
    --aside-background: #0a0a0a; /* Dark background for aside in dark mode */
  }

